services:
  discord-bot:
    image: mintybot_v0.0.2
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mintybot_v0.0.2
    restart: unless-stopped
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
      - TZ=Asia/Seoul
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - TMPDIR=/app/tmp
      - TEMP=/app/tmp
      - TMP=/app/tmp
      - HF_HOME=/app/hf_cache
    volumes:
      - .:/app/src
    command: [".venv/bin/python", "src/main.py"]
    # command: ["tail", "main.py"]
    
             
             
    #command: ["tail", "-f", "/dev/null"]

    # ✅ 최신 compose GPU 설정 방식
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    # ✅ compose v2에서는 runtime 대신 아래를 추가해야 함
   # device_requests:
  #    - driver: nvidia
 #       count: all
#        capabilities: [gpu]
