services:
  discord-bot-test:
    image: testbotv3
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mintybot_v0.0.2_rc1_test
    restart: unless-stopped
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
      - TZ=Asia/Seoul
      - DISCORD_TOKEN=${DISCORD_TOKEN}
    volumes:
      - .:/app

    #command: ["python", "main.py"]
    command: > 
        bash -c "pip install python-dotenv mariadb && python main.py"
             
             
    #command: ["tail", "-f", "/dev/null"]

    # ✅ 최신 compose GPU 설정 방식
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    # ✅ compose v2에서는 runtime 대신 아래를 추가해야 함
   # device_requests:
  #    - driver: nvidia
 #       count: all
#        capabilities: [gpu]
